#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --buildsystem cmake --dbg-package=libgit2-dbg --builddirectory=build-debian-release 
	dh $@ --buildsystem cmake --builddirectory=build-debian-devel


override_dh_auto_configure:
	dh_auto_configure --builddirectory=build-debian-release -- -DBUILD_CLAR:BOOL=ON -DCMAKE_BUILD_TYPE:STRING=RelWithDebInfo
	dh_auto_configure --builddirectory=build-debian-devel -- -DCMAKE_BUILD_TYPE:STRING=Release -DBUILD_SHARED_LIBS:BOOL=OFF -DBUILD_CLAR:BOOL=OFF

override_dh_makeshlibs:
	dh_makeshlibs -V 'libgit2-0 (>= 0.18.0)'

override_dh_auto_build :
	dh_auto_build --builddirectory=build-debian-release
	dh_auto_build --builddirectory=build-debian-devel

override_dh_auto_install :
	dh_auto_install --builddirectory=build-debian-release
	dh_auto_install --builddirectory=build-debian-devel

override_dh_installexamples:
	dh_installexamples --exclude .gitignore
